* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", "Times New Roman", Times, serif;
}
body {
  background-color: #1e656d;
  color: #f1f3ce;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #00293c;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
}
h1 {
  font-size: 2rem;
}
.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}
user-input-container {
  display: flex;
  justify-content: space-between;
}
#user-input {
  width: 80%;
  padding: 0.4rem;
  border-radius: 5px;

  background-color: #f1f3ce;
}
#search-btn {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #f1f3ce;
}
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #83cff2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  columns: white;
  font-weight: 700;
  background: conic-gradient(#83cff2 var(--progress-degree, 0%), #13475f 0%);
}
.circle span {
  position: relative;
  z-index: 2;
}
.progress{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
